<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/weather.png">
        <link rel="stylesheet" href="/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}
           
         <p>
             Error 404. {{error}} Not Found
         </p>  

        {{>footer}}
    </body>
</html>