<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/weather.png">    
        <link rel="stylesheet" href="/style.css">
        <script src="/app.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}
        <p>
            Hey, i have built this App to help you to get weather data in your area <br>
        </p>

        {{>footer}}
    </body>
</html>