<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/weather.png">
        <link rel="stylesheet" href="/style.css">
        <script src="/app.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}
        <p>
            for help please contact <a href="https://openweathermap.org/api" target="_blank">click here</a>
        </p>

        {{>footer}}
    </body>
</html>